;Rate Limit Server Details (Redis)
RateLimiterHost='127.0.0.1'
RateLimiterHostPort=6379
RateLimiterIPMaxRequests=600
RateLimiterIPSecondsWindow=300
RateLimiterIPPrefix='IPRL:'
RateLimiterGroupPrefix='GRL:'
RateLimiterUserPrefix='URL:'